In [8]:
list1=[1,2,3,2,2,3,3,4,4,1,1]
freq={}
for i in list1:
    if i in freq:
        freq[i]+=1
    else:
        freq[i]=1
for key,value in freq.items():
    print(f"{key} occurs {value} times")

1 occurs 3 times
2 occurs 3 times
3 occurs 3 times
4 occurs 2 times

In [10]:
list1=[1,2,3,2,2,3,3,4,4,1,1]
freq={}
for i in list1:
    if i in freq:
        freq[i]+=1
    else:
        freq[i]=1
print(freq)

{1: 3, 2: 3, 3: 3, 4: 2}

In [13]:
orders = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
fruits={}
for i in orders:
    if i in fruits:
        fruits[i]+=1
    else:
        fruits[i]=1
print(fruits)

{'apple': 3, 'banana': 2, 'orange': 1}

In [14]:
orders = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
fruits={}
for i in orders:
    if i in fruits:
        fruits[i]+=1
    else:
        fruits[i]=1
for key,value in fruits.items():
    print(f"{key} occurs {value} times")

apple occurs 3 times
banana occurs 2 times
orange occurs 1 times

In [16]:
nums = [10, 21, 4, 45, 66, 93, 1]
even_count = 0
odd_count = 0
for i in nums:
    if i%2==0:
        even_count+=1
    else:
        odd_count+=1
print(even_count)
print(odd_count)

3
4

In [20]:
numbers = [1, -3, 5, 0, -1, -2, 4, 0, 6]
positive=0
negative=0
zero=0
for i in numbers:
    if i>0:
        positive+=1
    elif i<0:
        negative+=1
    else:
        zero+=1
print(positive)
print(negative)
print(zero)

4
3
2

In [24]:
number = 124586
count = 0
for i in str(number):
    if i.isdigit():
        count+=1
print(count)

6

In [28]:
students = ["Alice", "Bob", "Alice", "Eve", "Bob", "Charlie", "Eve", "Eve"]
bb={}

for i in students:
    if i in bb:
        bb[i]+=1
    else:
        bb[i]=1
print(bb)

{'Alice': 2, 'Bob': 2, 'Eve': 3, 'Charlie': 1}

In [29]:
print("Repeated Students:")
for name, count in frequency.items():
    if count > 1:
        print(name)

Repeated Students:
1
2

In [45]:
def digit_sum_product(number):
    total_sum=0
    total_product=1
    for digit in str(number):
        if digit.isdigit():
            total_sum+=int(digit)
            total_product*=int(digit)
    return total_sum,total_product
num=int(input("Enter a Number"))
s,p=digit_sum_product(num)
print(s)
print(p)

Enter a Number 1234

10
24

In [47]:
def sum_digit(number):
    total_sum=0
    for digit in str(number):
        if digit.isdigit():
            total_sum+=int(digit)
    return total_sum
num=int(input("Enter a number"))
print(sum_digit(num))

Enter a number 1234

10

In [49]:
def product_digit(number):
    total_product=1
    for digit in str(number):
        if digit.isdigit():
            total_product*=int(digit)
    return total_product
num=int(input("Enter a number"))
print(product_digit(num))

Enter a number 1234

24

In [54]:
#reverse the string without using slicing method
def reverse_string(num):
    result=""
    for i in num:
        result=i+result
    return result

In [55]:
reverse_string(num='Yash Ghotekar')

'raketohG hsaY'

In [73]:
def remove_vowels(data):
    vowels='aeiouAEIOU'
    remove=''
    for char in data:
        if char not in vowels:
            remove += char
    return remove
data='Python and Data Science'
print(remove_vowels(data))

Pythn nd Dt Scnc

In [67]:
def remove_vowels(sentence):
    vowels = "aeiouAEIOU"
    result = ""
    for char in sentence:
        if char not in vowels:
            result += char
    return result

# Test the function
sentence = "Python and Data Science"
print("Sentence without vowels:", remove_vowels(sentence))

Sentence without vowels: Pythn nd Dt Scnc

In [2]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

prime_sum = sum(i for i in range(1, 101) if is_prime(i))
print("Sum of prime numbers from 1 to 100 is:", prime_sum)

Sum of prime numbers from 1 to 100 is: 1060

In [3]:
sum=0
for num in range(2,101):
    is_prime= True
    for i in range(2,num):
        if num%i==0:
            is_prime=False
            break
    if is_prime:
        sum+=num
print(sum)

1060

In [6]:
def is_prime(num):
    if num<2:
        return False
    for i in range(2,int(num**0.5)+1):
        if num % i ==0:
            return False
    return True
num=int(input("Enter a any Number"))
if is_prime(num):
    print(f"{num} is a prime Number.")
else:
    print(f"{num} is not prime Number.")

Enter a any Number 5

5 is a prime Number.