In [1]:
import pandas as pd

In [2]:
#series

In [4]:
list=[26,97,12,1,2,30]
s1=pd.Series(list)
s1

0    26
1    97
2    12
3     1
4     2
5    30
dtype: int64

In [7]:
list=[26,97,12,1,2,30]
s1=pd.Series(list,index=['a','b','c','d','e','f'])
s1

a    26
b    97
c    12
d     1
e     2
f    30
dtype: int64

In [10]:
tuple=(1,2,3,4,5,6)
list=[26,97,12,1,2,30]
s1=pd.Series(list,index=tuple)
s2=pd.Series(tuple,index=list)
print(s1)
print(s2)

1    26
2    97
3    12
4     1
5     2
6    30
dtype: int64
26    1
97    2
12    3
1     4
2     5
30    6
dtype: int64

In [12]:
d={'a':1,'b':2,'c':3,'d':4}
s3=pd.Series(d)
s3

a    1
b    2
c    3
d    4
dtype: int64

In [14]:
tuple=(1,2,3,4,5,6)
list=[26,97,12,1,2,30]
s1=pd.DataFrame(list,index=tuple)
s2=pd.DataFrame(tuple,index=list)
print(s1)
print(s2)

    0
1  26
2  97
3  12
4   1
5   2
6  30
    0
26  1
97  2
12  3
1   4
2   5
30  6

In [15]:
dict = {'name':['priti','rohit','sajita'],
        'marks':[5,0,11],
        'cgpa':[5.5,0.1,8.2]}
df=pd.DataFrame(dict)
df

     name  marks  cgpa
0   priti      5   5.5
1   rohit      0   0.1
2  sajita     11   8.2

In [19]:
import numpy as np
dict = {
        'marks':np.random.randint(1,100,10),
        'cgpa':np.random.randint(1,10,10)}
df=pd.DataFrame(dict)
df

   marks  cgpa
0     73     7
1      4     9
2     58     4
3     81     5
4     77     1
5     43     9
6     32     3
7     76     4
8     77     7
9     41     7