In [1]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

prime_sum = sum(i for i in range(1, 101) if is_prime(i))
print("Sum of prime numbers from 1 to 100 is:", prime_sum)

Sum of prime numbers from 1 to 100 is: 1060

In [2]:
def a(n):
    if n==1:
        return 0
    if n==2:
        return 1
    return (a(n-2)+a(n-1))
n=int(input("enter number of terms:"))
for i in range(1,n+1):
    b=print(a(i))

enter number of terms: 10

0
1
1
2
3
5
8
13
21
34

In [3]:
total=sum(b)

TypeError: 'NoneType' object is not iterable